---
# --- BLOCCO 1: CONFIGURAZIONE SERVER NFS ---
- name: Setup NFS Server Essential (AlmaLinux)
  hosts: nfs
  become: yes

  tasks:
    - name: Install nfs-utils
      dnf: 
        name: nfs-utils 
        state: present

    - name: Setup Directory and Service
      shell: |
        mkdir -p /var/web
        chmod 777 /var/web
        systemctl enable --now nfs-server

    - name: Configure Exports
      lineinfile:
        path: /etc/exports
        line: "/var/web 192.168.1.0/24(rw,sync,no_subtree_check,no_root_squash)"

    - name: Apply Exports
      command: exportfs -ra

# --- BLOCCO 2: DEPLOY SU KUBERNETES ---
- name: Deploy ehr server on Kubernetes
  hosts: master
  become: yes
  tasks:
    # --- SEZIONE COPIA FILE ---
    - name: Copy nfs manifest
      copy:
        src: "{{ manifest_path }}/nfs.yml"
        dest: /home/silvio/nfs.yml
        owner: silvio
        group: silvio

    - name: Copy ehr deployment manifest
      copy:
        src: "{{ manifest_path }}/ehr-backend-deployment.yml"
        dest: /home/silvio/ehr-backend-deployment.yml
        owner: silvio
        group: silvio

    - name: Copy postgres deployment manifest
      copy:
        src: "{{ manifest_path }}/postgres-deployment.yml"
        dest: /home/silvio/postgres-deployment.yml
        owner: silvio
        group: silvio 

    - name: Copy Metric Server manifest
      copy:
        src: "{{ manifest_path }}/metric-server.yml"
        dest: /home/silvio/metric-server.yml
        owner: silvio
        group: silvio

    # --- SEZIONE APPLICAZIONE ---
    - name: Apply nfs.yml
      command: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f /home/silvio/nfs.yml

    - name: Install Metric Server
      command: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f /home/silvio/metric-server.yml

    - name: Apply postgres deployment
      command: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f /home/silvio/postgres-deployment.yml
    
    - name: Apply ehr-backend deployment
      command: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f /home/silvio/ehr-backend-deployment.yml
    
    # --- SEZIONE AUTOSCALING ---
    - name: Configure Horizontal Pod Autoscaler
      shell: |
        kubectl --kubeconfig /etc/kubernetes/admin.conf autoscale deployment ehr-backend --cpu-percent=25 --min=2 --max=3
      register: hpa_result
      failed_when: false
      changed_when: "'autoscaled' in hpa_result.stdout"