---
- hosts: masters
  become: yes
  tasks:
    - name: Start and enable kubelet service
      systemd:
        name: kubelet
        enabled: yes
        state: started

    - name: Check if cluster is already initialized
      stat:
        path: /etc/kubernetes/admin.conf
      register: kube_init_check

    - name: Initialize Kubernetes cluster
      shell: kubeadm init --pod-network-cidr=10.244.0.0/16
      async: 600
      poll: 10
      register: kubeadm_init_output
      when: not kube_init_check.stat.exists
      failed_when: 
        - kubeadm_init_output.rc is defined 
        - kubeadm_init_output.rc != 0

    - name: Debug kubeadm init output
      debug:
        var: kubeadm_init_output.stdout
      when: kubeadm_init_output.stdout is defined

    - name: Create .kube directory for silvio
      file:
        path: "/home/silvio/.kube"
        state: directory
        owner: silvio
        group: silvio
        mode: '0755'

    - name: Copy admin.conf to silvio's kubeconfig
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/silvio/.kube/config
        remote_src: yes
        owner: silvio
        group: silvio
        mode: '0600'  # Permessi ristretti per sicurezza

    - name: Set KUBECONFIG environment variable for silvio
      lineinfile:
        path: "/home/silvio/.bashrc"
        line: "export KUBECONFIG=$HOME/.kube/config"
        create: yes
        owner: silvio
        group: silvio

    - name: Wait for Kubernetes API to be ready
      shell: kubectl --kubeconfig /etc/kubernetes/admin.conf get nodes
      register: kube_ready
      until: kube_ready.rc == 0
      retries: 30
      delay: 10

    - name: Apply Calico network manifest
      shell: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.26.1/manifests/calico.yaml
      register: calico_output
      changed_when: "'created' in calico_output.stdout or 'configured' in calico_output.stdout"

    - name: Generate join command for worker nodes
      shell: kubeadm token create --print-join-command
      register: kube_join_command

    - name: Save join command to a local file
      local_action: 
        module: copy 
        content: "{{ kube_join_command.stdout }}" 
        dest: "./kube_join_command" 
        mode: '0644'